@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --nav-col: #22033c;
  }
}

body {
  color: white;
  background: rgb(64,26,74);
  background: linear-gradient(90deg, rgba(64,26,74,1) 0%, rgba(2,0,36,1) 50%, rgba(65,20,77,1) 100%); 
}

.profile-corner{
  display: flex;
  justify-content: flex-end;
}
.profile-balance-link{
  margin-right: 20px;
  margin-top: 4px;
  color: #45d34a;
  font-weight: 500;
  background-color: rgba(183, 183, 183, 0.371);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  border-radius: 8px;
  transition: 0.2s linear;
}
.profile-balance-link:hover{
  background-color: rgba(183, 183, 183, 0.038);
  transition: 0.2s linear;
}

.case {
  background-color: #ffffff13;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  text-align: center;
  transition: 0.2s linear;
}
.case:hover{
  padding: 22px;
  background-color: #ffffff2f;
  transition: 0.2s linear;
}
.case h2{
  font-size: large;
}
.case p{
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.138);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 12px;
  color: #4af1b8;
  transition: 0.2s linear;
}
.case p:hover{
  background-color: rgba(0, 0, 0, 0.438);
  transition: 0.2s linear;
}
.nav-col{
  background-color: var(--nav-col);
  box-shadow: 0px 5px 50px black;;
}
.sign-in-btn{
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  transition: 0.2s linear;
}
.sign-in-btn:hover{
  color: black;
  background-color: aliceblue;
  border: 1px solid black;
  transition: 0.2s linear;
}

.openButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.openButton:hover {
  background-color: #45a049;
}
.dropDownTrans{
  background-color: rgba(60, 7, 95, 0.877)
}

.dropDownItem{
  padding: 10px;
  cursor: pointer;
  border-top: 1px solid #ccc;
  transition: 0.2s linear;
}
.dropDownItem:hover{
  background-color: rgba(128, 128, 128, 0.549);
}