@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --nav-col: #22033c;
  }
}

body {color: white;background: rgb(64,26,74);background: linear-gradient(90deg, rgba(64,26,74,1) 0%, rgba(2,0,36,1) 50%, rgba(65,20,77,1) 100%);}
.m-15     {margin: 15px;}
.popupcol {background: rgba(10, 7, 11, 0.853);}
.mw-90    {max-width: 90%;}
.accordion{min-width: 100%;list-style: none; padding: 0; margin: 0;}
.accordion-title{color: white; font-weight: 900; text-transform: uppercase;font-size: larger;}
@media (max-width: 640px) {.xsm\:flex-wrap {flex-wrap: wrap;}}
.button-poligon {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  height: 50px;
  width: 250px;
  font-size: large;
  padding: 30px;
  -webkit-clip-path: polygon(17px 0,calc(100% - 17px) 0,100% 50%,calc(100% - 17px) 100%,17px 100%,0 50%);
  clip-path: polygon(17px 0,calc(100% - 17px) 0,100% 50%,calc(100% - 17px) 100%,17px 100%,0 50%);
  background: #571290;
  box-shadow: 0px 5px 50px black;
  transition: 0.2s linear;
}
@media (max-width: 1280px) {.button-poligon {width: 200px; height: 30px; font-size: medium;}}
@media (max-width: 680px) {.button-poligon {width: 100px; height: 10px; font-size: x-small;}}

.banner{
  background-image: url('/main-page-event-banner-bg.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 50px auto;
  padding: 0 20px;
  max-width: 1920px;
  min-height: 460px;
  box-shadow: 0px 0px 500px black;
  box-sizing: border-box;
  transition: 0.5s linear;
}
.banner:hover{
  width: 110%;
  filter: brightness(1.2);
  box-shadow: 0px 0px 500px rgba(255, 255, 255, 0.09);
  transition: 0.5s linear;
}
.banner-content{
  align-items: flex-end;
  display: flex;
  font-family: Montserrat;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1340px;
  min-height: 460px;
  padding: 0 0 56px;  
}
.button-poligon:hover {
  background: #742cb8;
  transition: 0.2s linear;
}
.profile-corner{
  display: flex;
  justify-content: flex-end;
}
.profile-balance-link{
  margin-right: 20px;
  color: #45d34a;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  align-self: center;
  border-radius: 8px;
  transition: 0.2s linear;
}
.profile-balance-link:hover{
  color: #369f3a;
  transition: 0.2s linear;
}
.flex-basis-25{flex-basis: 25%;}
.case {
  background-color: #ffffff13;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: 0.2s linear;
}
.case:hover{
  padding: 22px;
  background-color: #ffffff2f;
  transition: 0.2s linear;
}
.case h2{
  font-size: large;
}
.case p{
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.138);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 12px;
  color: #4af1b8;
  transition: 0.2s linear;
}
.case p:hover{
  background-color: rgba(0, 0, 0, 0.438);
  transition: 0.2s linear;
}
.nav-col{
  background-color: var(--nav-col);
  box-shadow: 0px 5px 50px black;;
}
.sign-in-btn{
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  transition: 0.2s linear;
}
.sign-in-btn:hover{
  color: black;
  background-color: aliceblue;
  border: 1px solid black;
  transition: 0.2s linear;
}

.openButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.openButton:hover {
  background-color: #45a049;
}
.dropDownTrans{
  background-color: rgba(60, 7, 95, 0.877);
  border: none;
  box-shadow: 0px 5px 50px black;
  min-width: 220px;
}

.dropDownItem{
  padding: 10px;
  cursor: pointer;
  border-top: 1px solid #ccc;
  transition: 0.2s linear;
}
.dropDownItem:hover{
  background-color: rgba(128, 128, 128, 0.549);
}
.footer {
  background-color: #020024;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  width: 100%;
  margin-top: 150px;
}
.roulette-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
.roulette-wrapper{
  position:relative;
  display:flex;
  justify-content:center;
  width:100%;
  margin:0 auto;
  overflow:hidden;
}
.roulette-wrapper .selector{
  width:3px;
  background:grey;
  left:50%;
  height:100%;
  transform:translate(-50%,0%);
  position:absolute;
  z-index:2;
}
.roulette-wrapper .wheel{display:flex;}
.roulette-wrapper .wheel .row{display:flex;}
.roulette-wrapper .wheel .row .card{
  order: var(--order);
  height:75px;
  width:75px;
  margin:3px;
  border-radius:8px;
  border-bottom:3px solid rgba(0,0,0,0.2);
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-size:1.5em;
}
.card.red{background:#F95146;}
.card.black{background:#2D3035;}
.card.green{background:#00C74D;}
.coinflip-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
.coinflip{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.coin {
  width: 250px;
  height: 250px;
  margin-bottom: 100px;
  border-radius: 50%;
  transition: transform 0.3s 
      ease-in-out; 
}
.Heads {background-color: rgb(0, 128, 255);}
.Tails {background-color: rgb(170, 10, 10);}
.coin:hover { 
  transform: scale(1.1); 
  transition: transform 0.3s 
      ease-in-out; 
} 

@keyframes spin { 
  0% { 
      transform: rotateY(0deg); 
  } 
  100% { 
      transform: rotateY(360deg); 
  } 
} 

.coin.flip { 
  animation: spin 1s 
      cubic-bezier(0.4, 2.5, 0.6, 0.5); 
} 